{% extends "GoalWin/layout.html" %}

{% block body %}

    {% if group %}
    <div>
        <h2>{{group}}</h2>
        {% if goal %}
        <div>
            <h3>Goal: {{goal}}</h3>
            <span>Time left: {{time_left}}</span>
            <br>
            <span>Stake: {{stake}}</span>
            <br>
            <span>Total members: {{total_members}}</span>
            <br>
            <span>Members who completed their goals: {{completed_members}}</span>
            <br>
            {% if not user_completed and time_left != 0 %}
            <a class="btn btn-primary mb-2" href="{% url 'goal_completed' %}" role="button">Goal Completed</a>
            {% else %}
                {% if time_left != 0 %}
                <div><h4>You have completed your goal</h4></div>
                {% else %}
                <div>
                    <h2>Your winnings: ${{user_winnings}}</h2>
                </div>
                {% endif %}
            
            {% endif %}
        </div>
        {% else %}
        <div>
            <span>You have not set any goal</span>
            <br>
            <a class="btn btn-primary mb-2" href="{% url 'create_goal' %}" role="button">Set a goal</a>
        </div>
        {% endif %}

    </div>

    {% else %}
    <div class="m-3">
        <span class="mb-2">You are not part of any group</span>
        <br>
        <h3>Join Group</h3>
        {% for joining_group in groups %}
        <div class="border p-3 w-25">
            <h4>{{joining_group}}</h4>
            <a class="btn btn-primary" href="{% url 'join_group' joining_group %}" role="button">Join group</a>
        </div>
        {% endfor %}
        <hr>
        <h2>OR</h2>
        <a class="btn btn-primary mb-2" href="{% url 'create_group' %}" role="button">Create group</a>
    </div>
    {% endif %}


{% endblock %}